<h3>UPDATE SUPPLIER</h3>

<form action="/suppliers/<%=@supplier.id%>" method="post">
Name:
<input type="text" name="name" value="<%=@supplier.name%>"></input><br>
Address:<br>
<input type="text" name="address" value="<%=@supplier.address%>"></input><br>
Phone:<br>
<input type="text" name="telephone" value="<%=@supplier.telephone%>"></input><br>
E-mail:<br>
<input type="text" name="email" value="<%=@supplier.email%>"></input>
<input type="submit" value="Update">
</form>
