<h3><a href="/suppliers/new">Add Supplier</a></h3>

<table>
  <tr>
    <th>Supplier</th>
    <th>Address</th>
    <th>Telephone</th>
    <th>Email</th>
  </tr>
  <% for supplier in @suppliers%>
  <tr>
    <td><%=supplier.name%></td>
    <td><%=supplier.address%></td>
    <td><%=supplier.telephone%></td>
    <td><%=supplier.email%></td>
    <td>
      <form action="/suppliers/<%=supplier.id%>/edit" method="get">
            <input type="submit" value="Change"/>
      </form>
    </td>
    <td>
      <% if StockItem.all_supplier_ids.include?(supplier.id) %>
      <form action="/suppliers/<%=supplier.id%>/warning" method="get">
        <input type="submit" value="Remove"/>
      </form>
      <% else %>
      <form action="/suppliers/<%=supplier.id%>/delete" method="post">
        <input type="submit" value="Remove"/>
      </form>
      <% end %>
    </td>
  </tr>
    <% end %>
</table>
