<table>
  <tr>
    <th>Distillery</th>
    <th>Product</th>
    <th>Style</th>
    <th>Quantity</th>
    <th>Supplier</th>
    <th>Level</th>
    <th>Selling Price</th>
    <th>Margin</th>
  </tr>
  <% @stock_f = StockItem.all_levels%>
  <% for stock in @stock_f %>
  <tr>
    <td><%=stock.distillery.name%></td>
    <td><%=stock.name%></td>
    <td><%=stock.style%></td>
    <td><%=stock.quantity%></td>
    <td><%=stock.supplier.name%></td>
    <td><%=stock.level%></td>
    <td>£<%=stock.sale_price.round(2)%></td>
    <td><%=stock.profit%>%</td>
    <td>
      <form action="/stock/<%=stock.id%>/edit" method="get">
            <input type="submit" value="Change"/>
      </form>
    </td>
    <td>
      <form action="/stock/<%=stock.id%>/delete" method="post">
        <input type="submit" value="Remove"/>
      </form>
    </td>
  </tr>
    <% end %>
</table>
